---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h2 class="text-3xl font-bold mb-6">Curriculum Vitae</h2>

    <p class="mb-4">Download my full CV here:</p>

    <a
        href="/info/Executive_CV_Nil_Munte_Guerrero_ENG.pdf"
        download
        class="bg-indigo-600 text-white px-6 py-3 rounded-lg hover:bg-indigo-700"
    >
        Download CV
    </a>

    <h3 class="text-2xl font-semibold mt-10 mb-4">Professional Summary</h3>
    <p class="text-gray-700 max-w-3xl">
        Engineer and researcher with 10+ years of experience in robotics,
        industrial automation, and applied machine learning. Currently Associate
        Professor in the Department of Engineering, and Engineering Manager in
        the technology industry.
    </p>
</BaseLayout>
