---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<BaseLayout>
    <h2 class="text-3xl font-bold mb-10 text-center">Projects</h2>
    <!-- Aligned Gradient Line -->

    <div
        class="mt-5 h-1.5 bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500
              rounded-full animate-pulse opacity-80 max-w-4xl mx-auto"
    >
    </div>

    <div
        class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 hover: max-w-4xl mx-auto my-8"
    >
        <ProjectCard
            title="My Portfolio"
            description="Design of a personal portfolio website using Astro and Tailwind CSS."
            link="https://github.com/nil-munte/nil-munte.github.io"
        />

        <ProjectCard
            title="Introduction to Python"
            description="Introductory Python programming course designed for Catalan speakers."
            link="https://github.com/nil-munte/Python_course_CAT"
        />

        <ProjectCard
            title="Neural Network implementation"
            description="A simple neural network implemented from scratch in Java."
            link="https://github.com/nil-munte/Neural-Net"
        />

    </div>
</BaseLayout>
