---
const { currentPath } = Astro.props;
const normalized = currentPath.replace(/\/$/, "");
---

<nav class="w-full bg-white shadow fixed top-0 left-0 z-50">
    <div class="max-w-6xl mx-auto flex justify-between items-center p-4">
        <a href="/" class="text-xl font-bold text-indigo-600">Nil's Portfolio</a
        >
        <div class="flex gap-6 text-gray-700 font-medium">
            <a
                href="/"
                class={`hover:text-indigo-600 ${normalized === "" ? "text-indigo-600 font-bold" : ""}`}
            >
                Home
            </a>

            <a
                href="/career"
                class={`hover:text-indigo-600 ${normalized === "/career" ? "text-indigo-600 font-bold" : ""}`}
            >
                Career
            </a>

            <a
                href="/projects"
                class={`hover:text-indigo-600 ${normalized === "/projects" ? "text-indigo-600 font-bold" : ""}`}
            >
                Projects
            </a>

            <a
                href="/about_me"
                class={`hover:text-indigo-600 ${normalized === "/about_me" ? "text-indigo-600 font-bold" : ""}`}
            >
                About Me
            </a>
        </div>
    </div>
</nav>
<div class="h-20"></div>
